data/
notebooks/
*.pyc
__pycache__/
.python-version
.env
.DS_Store 
yelp_etl.egg-info
__pycache__/
*.egg-info/
*.egg
yelp_dbt_pipeline/dbt_packages/
/target/
/logs/
.vscode
yelp_dbt_pipeline/analyses/
yelp_dbt_pipeline/macros/
yelp_dbt_pipeline/seeds/
yelp_dbt_pipeline/snapshots/
src/sql/gldn
src/pipeline/process_categories.py